@import 'tailwindcss';

body {
    display: none;;
    background-color: aqua;
}
/* Группировка в таблицах Filament */
.filament-table-group-header {
    @apply bg-blue-50 text-blue-800 font-medium rounded-lg px-4 py-2 mb-2;
    @apply dark:bg-blue-900 dark:text-blue-100;
}

.filament-table-group-header button {
    @apply text-blue-600 dark:text-blue-300 hover:text-blue-800 dark:hover:text-blue-200;
}

/* Анимация сворачивания */
.filament-table-group-content {
    @apply transition-all duration-200 ease-in-out;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
